---
interface Props {
  heading: string;
  color: string;
}

const { heading, color } = Astro.props;
const bg = `bg-${color}-100`;
const text = `text-${color}-900`;
---

<div class={`${bg}`}>
  <div class="py-16 px-10">
    <h2
      class={`${text} w-1/2 mx-auto text-center text-7xl font-bold mt-16 mb-32`}
    >
      {heading}
    </h2>
    <slot />
  </div>
</div>
