---
import Link from "./Link.astro";
import Image from "./Image.astro";
import type { ColorName } from "../types/colors.types";

interface Props {
  heading: string;
  color: ColorName;
  className?: string;
}

const { heading, color, className } = Astro.props;
const bg = `bg-${color}-100`;
const text = `text-${color}-900`;
---

<div class={`${bg}`}>
  <div class="w-11/12 m-auto">
    <div class="md:flex md:gap-10">
      <div class="flex flex-col flex-grow">
        <h2
          class={`${text} lg:text-7xl md:text-5xl sm:text-6xl text-5xl font-black tracking-wider word-wider`}
        >
          {heading}
        </h2>
        <Link
          href="#offering"
          bg={color}
          className="mt-10 self-center md:self-start px-7 py-4 text-xl"
        >
          Co nabizime?
        </Link>
      </div>
      <Image
        src="https://placehold.co/1280x720"
        alt=""
        className="self-center hidden md:block"
      />
    </div>
  </div>
</div>

<style>
  .word-wider {
    word-spacing: 5px;
  }
</style>
