---
import type { ColorWeighted } from "../types/colors.types";

interface Props {
  height: number;
  from: ColorWeighted;
  to: ColorWeighted;
  gradient: string;
  className?: string;
}

const { height, from, to, gradient, className } = Astro.props;
---

<div
  class={`${gradient} from-${from} to-${to} ${className}`}
  style={{ height: `${height}px` }}
>
</div>
