---
import Image from "./Image.astro";
import Link from "./Link.astro";

interface Props {
  align: "left" | "right";
  heading: string;
  color: string;
  image?: {
    src: string;
    alt: string;
  };
  className?: string;
}
const { align, heading, color, className, image } = Astro.props;

const bg = `bg-${color}-100`;
const text = `text-${color}-900`;
const items = align === "right" ? "items-end" : "items-start";
const self = align === "right" ? "self-end" : "self-start";
const sort = align === "right" ? "flex-row-reverse" : "flex-row";
const textAlign = align === "right" ? "text-right" : "text-left";
---

<div class={`w-screen ${bg} pb-7 ${className}`}>
  <div class={`py-16 px-3 md:px-10 ${text} flex ${sort} gap-10`}>
    <div
      class={`flex-grow flex flex-col items-center md:${items} text-center md:${textAlign}`}
    >
      <h3 class="text-5xl md:text-6xl font-bold mb-3">
        {heading}
      </h3>
      {
        image && (
          <Image
            src={image.src}
            alt={image.alt}
            className="self-center my-5 md:hidden"
          />
        )
      }
      <div class="mb-3 text-md">
        <slot />
      </div>
      <Link bg={color} href="/babybox" className={`self-center md:${self}`}>
        Vice
      </Link>
    </div>
    {
      image && (
        <Image
          src={image.src}
          alt={image.alt}
          className="self-center hidden md:block"
        />
      )
    }
  </div>
</div>
