---
import type { ColorName, ColorWeighted } from "../../types/colors.types";
import { colorWeighted } from "../../utils/colors";
import Link from "./Link.astro";

interface MoreButton {
  href: string;
  text: string;
}

interface Props {
  header: string;
  description: string;
  color: ColorName;
  iconColor: ColorWeighted;
  links: MoreButton[];
}

const { header, description, color, iconColor, links } = Astro.props;

const primaryColor = colorWeighted(color, 900);
---

<div
  class="w-64 h-100 bg-white shadow-md rounded-lg hover:shadow-lg transition-all duration-300"
>
  <div class="h-full p-5 flex flex-col justify-between">
    <div>
      <div class={`w-10 h-[50px] text-${iconColor} mb-3`}>
        <slot name="icon" />
      </div>
      <h3 class={`text-${primaryColor} font-bold text-2xl mb-1`}>{header}</h3>
      <p class={`mb-2 text-${primaryColor}`}>{description}</p>
    </div>
    <div class="w-full flex flex-row flex-wrap justify-between gap-3">
      {
        links.map((link) => (
          <Link
            link={{ href: link.href, text: link.text, className: "self-start" }}
            bg={color}
          />
        ))
      }
    </div>
  </div>
</div>
