---
import type { ColorWeighted } from "../../types/colors.types";
import type { ElementInfo } from "../../types/element.types";
import { oppositeColor } from "../../utils/colors";

interface Props extends ElementInfo {
  title: string;
  size?: "sm" | "md" | "lg";
  type?: "filled" | "ghost";
  color: ColorWeighted;
}

const { title, type = "ghost", size = "md", color, className } = Astro.props;

const primaryColor = color;
const secondaryColor = oppositeColor(primaryColor);

const style =
  type === "filled"
    ? `bg-${primaryColor} text-${secondaryColor} rounded-xl shadow-md`
    : type === "ghost"
    ? `text-${primaryColor} bg-transparent`
    : "";

const sizeTitle =
  size === "sm"
    ? "text-xl"
    : size === "md"
    ? "text-2xl"
    : size === "lg"
    ? "text-3xl"
    : "text-2xl";
---

<div class={`${style} ${className}`}>
  <div class="h-full p-5 flex flex-col justify-between">
    <div>
      <div class={`w-10 max-h-[50px] mb-3`}>
        <slot name="icon" />
      </div>
      <h3 class={`font-bold ${sizeTitle} mb-1`}>{title}</h3>
      <slot />
    </div>
  </div>
</div>
