---
import type { ElementInfo, ImageElInfo } from "../../types/element.types";

interface Props extends ElementInfo {
  image: ImageElInfo;
}

const { image, className, style } = Astro.props;
---

{
  image.wrap === false ? (
    <img
      src={image.image.src}
      width="auto"
      height="auto"
      alt={image.alt}
      class={`shadow-md hover:shadow-lg transition-all duration-500 ${image.className}`}
    />
  ) : (
    <div class={className} style={style}>
      <img
        src={image.image.src}
        width="auto"
        height="auto"
        alt={image.alt}
        class={`${image.className} rounded-lg shadow-md hover:shadow-lg transition-all duration-500`}
      />
    </div>
  )
}
