---
import type { ElementInfo, ImageElInfo } from "../../types/element.types";
import { Image } from "astro:assets"

interface Props extends ElementInfo {
  image: ImageElInfo;
}

const { image, className, style } = Astro.props;

const shadowStyle =
  image.noShadow === true
    ? "shadow-none hover:shadow-none"
    : "shadow-md hover:shadow-lg";
---

{
  <div class={`${className}`}>
    <Image
      src={image.image}
      width={image.width || "auto"}
      height={image.height || "auto"}
      alt={image.alt}
      class={`rounded-xl ${shadowStyle} transition-all duration-500 ${image.className} w-auto h-auto aspect-auto`}
    />
  </div>
}
