---
import type { ColorName } from "../../types/colors.types";
import {
  darkColorBg,
  darkColorText,
  lightColorBg,
  lightColorText,
} from "../../utils/colors";

interface Props {
  heading: string;
  color: ColorName;
  space?: "xl" | "lg" | "md" | "sm";
  dark?: boolean;
}
const { heading, color, space = "md", dark = false } = Astro.props;
const bg = dark ? darkColorBg(color) : lightColorBg(color);
const text = dark ? lightColorText(color) : darkColorText(color);
const margin =
  space === "xl"
    ? "py-48"
    : space === "lg"
    ? "py-32"
    : space === "md"
    ? "py-16"
    : "py-8";
const marginHeading =
  space === "xl"
    ? "mb-8"
    : space === "lg"
    ? "mb-7"
    : space === "md"
    ? "mb-6"
    : "mb-5";
---

<div class={`${bg} ${text} ${margin}`}>
  <div class="w-11/12 mx-auto">
    <h4
      class={`font-bold text-6xl text-center ${marginHeading} w-5/6 md:w-3/5 xl:w-1/2 m-auto`}
    >
      {heading}
    </h4>
    <slot />
  </div>
</div>
