---
import type { ColorName } from "../../types/colors.types";
import type { ImageElInfo } from "../../types/element.types";
import { colorWeighted } from "../../utils/colors";
import MyImage from "../elements/MyImage.astro";

interface Props {
  align: "left" | "right";
  heading: string;
  color: ColorName;
  image?: ImageElInfo;
  dark?: boolean;
  className?: string;
}
const { align, heading, color, dark = false, className, image } = Astro.props;

const primaryColor = dark
  ? colorWeighted(color, 900)
  : colorWeighted(color, 100);
const secondaryColor = dark
  ? colorWeighted(color, 100)
  : colorWeighted(color, 900);
const items = align === "right" ? "items-end" : "items-start";
const self = align === "right" ? "self-end" : "self-start";
const sort = align === "right" ? "flex-row-reverse" : "flex-row";
const textAlign = align === "right" ? "text-right" : "text-left";
---

<div class={`w-screen bg-${primaryColor} ${className}`}>
  <div
    class={`w-11/12 mx-auto py-10 text-${secondaryColor} flex ${sort} gap-10`}
  >
    <div
      class={`flex-grow flex flex-col items-center lg:w-3/4 w-full md:${items} text-center md:${textAlign}`}
    >
      <h3 class="text-5xl md:text-6xl font-bold mb-3">
        {heading}
      </h3>
      {
        image && (
          <MyImage
            image={{
              ...image,
              className:
                "self-center my-5 md:hidden " + (image.className || ""),
            }}
          />
        )
      }
      <div class="mb-3 text-md">
        <slot />
      </div>
      <!-- <Link -->
      <!--   bg={color} -->
      <!--   link={{ -->
      <!--     href: "/babybox", -->
      <!--     text: "Více", -->
      <!--     className: `self-center md:${self}`, -->
      <!--   }} -->
      <!-- /> -->
    </div>
    {
      image && (
        <div class="self-center hidden md:block max-w-[40%]">
          <MyImage
            image={{
              ...image,
              image: {
                ...image.image,
              },
              className: "mx-auto " + (image.className || ""),
            }}
          />
        </div>
      )
    }
  </div>
</div>
