---
import {
  faLocationDot,
  faBuilding,
  faCircleInfo,
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import type { ColorName } from "../../types/colors.types";
import { colorBg, colorText } from "../../utils/colors";
import MONTEL from "../elements/MONTEL.astro";
import ContactCard from "./contact/ContactCard.astro";

interface Props {
  bg: ColorName;
  text: ColorName;
}

const { text } = Astro.props;

const bgColor = colorBg(text, 900);
const textColor = colorText(text, 100);
const alsoLookAtClass = "ml-4 underline hover:brightness-200";
---

<footer class={`${bgColor} ${textColor} shadow-md`}>
  <div class="lg:pl-20 lg:pr-24 w-11/12 mx-auto py-10 flex flex-wrap justify-start gap-y-16 gap-x-24">
    <MONTEL color={textColor} className="self-center mt-12 mx-auto" />
    <div class="flex flex-wrap flex-grow justify-between gap-10 my-auto mx-auto">
      <ContactCard
        department="Fakturační adresa"
        color={text}
        color2={text}
        className="mx-auto"
      >
        <p>Zdeněk Juřica - MONTEL</p>
        <p>Třebíčská 272</p>
        <p>675 71 Náměšť nad Oslavou</p>
        <p>IČO: 13070819</p>

        <FontAwesomeIcon slot="icon" icon={faLocationDot} className={`${text} w-10`} />
      </ContactCard>
      <ContactCard
        department="Adresa provozovny"
        color={text}
        color2={text}
        phone="+420 568 620 066"
        email="info@jurica-montel.cz"
        emailLight={true}
        className="mx-auto"
      >
        <p>Zdeněk Juřica - MONTEL</p>
        <p>Vícenice u Náměště nad Oslavou 109</p>
        <p>675 71 Náměšť nad Oslavou</p>

        <FontAwesomeIcon slot="icon" icon={faBuilding} className={`${text} w-10`} />
      </ContactCard>

      <div class="mx-auto min-w-[260px]">
        <FontAwesomeIcon
          slot="icon"
          icon={faCircleInfo}
          className={`${text} w-10 mt-2 mb-5 mx-1 flex items-center`}
        />
        <div class={`w-12 h-1 ${colorBg(text, 300)} mb-7`}></div>
        <h5 class="text-xl font-semibold">Podívejte se také:</h5>
        <ul class="list-disc"
          <li></li>
          <li class={alsoLookAtClass}>
            <a href="/babybox" rel="prefetch-intent">Babybox</a>
          </li>
          <li class={alsoLookAtClass}>
            <a href="/kamery" rel="prefetch-intent">Kamery</a>
          </li>
          <li class={alsoLookAtClass}>
            <a href="/cerpadla" rel="prefetch-intent">Tepelná čerpadla</a>
          </li>
          <li class={alsoLookAtClass}>
            <a href="/zabezpeceni" rel="prefetch-intent">Zabezpečení</a>
          </li>
          <li class={alsoLookAtClass}>
            <a href="/kontakt" rel="prefetch-intent">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
