---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faBuilding } from "@fortawesome/free-solid-svg-icons"; // Import any other icons you need.
import type { ColorName } from "../../../types/colors.types";
import { colorWeighted, hoverColor } from "../../../utils/colors";
import Email from "../../elements/Email.astro";
import type { ElementInfo } from "../../../types/element.types";

interface Props extends ElementInfo {
  color: ColorName;
  color2: ColorName;
  department: string;
  phone?: string;
  email?: string;
  align?: "left" | "center";
}

const {
  color,
  color2,
  department,
  phone,
  email,
  align = "left",
  className = "",
} = Astro.props;

const secondaryColor = colorWeighted(color2, 300);
const alignStyle1 = align === "center" ? "text-center" : "text-left";
const alignStyle2 = align === "center" ? "items-center" : "items-start";
---

<div class={`${alignStyle1} flex flex-col ${className}`}>
  <div class={`flex flex-col justify-end h-24 ${alignStyle2}`}>
    <div class={`w-10 mb-3 mx-1 flex items-center`}>
      <slot name="icon" />
    </div>
    <div class={`w-12 h-1 bg-${secondaryColor} mb-4`}></div>
  </div>
  <div class="mt-1">
    <h3 class="text-xl font-semibold">{department}</h3>
    <slot />
    {
      email && (
        <p>
          Email: <Email email={email} color={color} />
        </p>
      )
    }
    {phone && <p>Telefon: {phone}</p>}
  </div>
</div>
