---
import CenterSection from "../components/sections/CenterSection.astro";
import SectionStripe from "../components/sections/SectionStripe.astro";
import ChildrenByHour from "../components/babybox/charts/ChildrenByHour";
import ChildrenByDay from "../components/babybox/charts/ChildrenByDay";
import ChildrenByMonth from "../components/babybox/charts/ChildrenByMonth";
import ChildrenByYear from "../components/babybox/charts/ChildrenByYear";
import ChildrenTotal from "../components/babybox/charts/ChildrenTotal";
import Layout from "../layouts/Layout.astro";
import BigSection from "../components/sections/BigSection.astro";
import MiniCard from "../components/elements/MiniCard.astro";
import { colorWeighted } from "../utils/colors";
import ContactCard from "../components/sections/contact/ContactCard.astro";
import List from "../components/elements/List.astro";
import { faWrench } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import placeholderImage from "../images/1280x720.svg";
import babyboxImage from "../images/babybox.jpg";
import babyboxFrontImage from "../images/babybox_front.jpg";
import babyboxPanelInImage from "../images/babybox_panel_in.jpg";
import { getRecords } from "../logic/babyboxStats";

const bg = "pink";
const text = "pink";

const records = getRecords();
---

<Layout title="MONTEL" bg={bg} text={text}>
  <BigSection
    slot="header"
    color={bg}
    heading="Pro ty nejmenší v nouzi ostrůvek bezpečí vždy čeká, nesouc naději v těžkých chvílích."
    links={[
      { href: "#offering", text: "O Babyboxu" },
      { href: "#stats", text: "Statistiky" },
      { href: "#contact", text: "Servis" },
    ]}
    image={{ image: babyboxImage, alt: "placeholder" }}
  />

  <div>
    <CenterSection color="white" heading="Funkce">
      <div class="flex flex-wrap flex-row justify-center gap-10 lg:gap-28">
        <MiniCard title="Vybavení" size="lg" type="ghost" color="indigo-900">
          <List
            className="text-black"
            list={[
              "Automatické dvířka",
              "Detekce zábrany dvířek",
              "Automatická regulace teploty",
              "Klimatizace",
              "Vytápění",
              "Nerezový materiál",
            ]}
            color={colorWeighted(bg, 900)}
          />
        </MiniCard>
        <MiniCard
          title="Několik vrstev zabezpečení"
          size="lg"
          type="ghost"
          color="rose-900"
        >
          <List
            className="text-black"
            list={[
              "24/7 Monitoring",
              "Kamera uvnitř Babyboxu",
              "SMS upozornění",
              "Emailové notifikace",
            ]}
            color={colorWeighted(bg, 900)}
          />
        </MiniCard>
        <MiniCard
          title="Vzdálená správa"
          size="lg"
          type="ghost"
          color="indigo-900"
        >
          <List
            className="text-black"
            list={[
              "Analýza a vizualizace at",
              "Vzdálený management Babyboxu",
              "Vzdálená správa monitorovacího počítače",
            ]}
            color={colorWeighted(bg, 900)}
          />
        </MiniCard>
      </div>
    </CenterSection>

    <SectionStripe
      align="left"
      color="indigo"
      heading="Babybox"
      image={{
        image: babyboxFrontImage,
        alt: "placeholder",
        className: "max-h-[400px]",
      }}
    >
      Babyboxy, umístěné v nemocnicích daného regionu, představují záchranný bod
      pro ty, kteří se ocitnou v hluboké životní nouzi. Toto diskrétní řešení
      nabízí rodičům ve špatné životní situaci možnost zanechat své novorozence
      v bezpečném a regulovaném prostředí, když cítí, že nemohou poskytnout
      dítěti odpovídající péči. Díky moderním technologiím babyboxy zajišťují
      nepřetržitý dohled a teplotní regulaci pro miminka. Díky několika
      úrovňovém notifikačním provedení je obsluha při vložení dítěte okamžitě
      notifkována, díky čemuž dítě v Babyboxu tráví minimální čas.
    </SectionStripe>

    <SectionStripe
      align="left"
      color="rose"
      heading="Monitorovací panel"
      image={{
        image: babyboxPanelInImage,
        alt: "placeholder",
        className: "max-h-[360px]",
      }}
    >
      <p>
        V nemocnici je umístěn <strong>monitorovací panel</strong>, primárně
        navržený pro sledování obsahu babyboxu. Jakmile je zatížena vanička
        babyboxu, obsluha je okamžitě upozorněna. Díky <strong
          >integrované kameře</strong
        > může obsluha v reálném čase vidět, zda je v babyboxu dítě, a okamžitě
        zasáhnout.
      </p>
      <p class="mt-3">
        Panel také zobrazuje další důležité informace, jako je <strong
          >teplota</strong
        >, <strong>napětí</strong>, <strong>stav dvířek</strong> a další
        důležité ukazatele. Jakékoli odchylky nebo neobvyklé události generují

        <strong>upozornění</strong>, což zajišťuje vysokou dostupnost a
        spolehlivost Babyboxů.
      </p>
    </SectionStripe>

    <CenterSection heading="Kontakt Servis" color="white">
      <ContactCard
        color="blue"
        color2="pink"
        department="Servis"
        phone="+420 606 043 886"
        email="babybox@jurica-montel.cz"
        align="center"
      >
        <FontAwesomeIcon
          slot="icon"
          icon={faWrench}
          className="text-blue-900"
        />
      </ContactCard>
    </CenterSection>

    <CenterSection heading="Statistiky" color="pink">
      <h3 class="text-xl text-center font-bold mt-5">Počet dětí</h3>
      <ChildrenTotal client:load records={records} />

      <h3 class="text-xl text-center font-bold mt-10">
        Počet dětí v jednotlivých letech
      </h3>
      <ChildrenByYear client:load records={records} />

      <h3 class="text-xl text-center font-bold mt-10">
        Počet dětí podle měsíce
        <ChildrenByMonth client:load records={records} />
      </h3>

      <h3 class="text-xl text-center font-bold mt-10">
        Počet dětí podle dne v týdnu
      </h3>
      <ChildrenByDay client:load records={records} />

      <h3 class="text-xl text-center font-bold mt-10">
        Počet dětí podle času odložení
      </h3>
      <ChildrenByHour client:load records={records} />
    </CenterSection>
  </div>
</Layout>
