---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faBaby,
  faVideo,
  faTruck,
  faTruckFast,
  faMicrochip,
  faShield,
  faCar,
  faFan,
} from "@fortawesome/free-solid-svg-icons";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const bg = "bg-cyan-100";
const color = "text-blue-900";
const iconClass = "max-w-[40px] max-h-[40px]";
---

<Layout title="MONTEL" bg={bg} color={color}>
  <div slot="header" class="w-11/12 m-auto">
    <p class="text-7xl font-black w-9/12 tracking-wider word-wider">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="w-screen m-auto -mt-16 flex gap-7 justify-around flex-wrap">
    <Card
      header="Babybox"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
    >
      <FontAwesomeIcon icon={faBaby} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Kamerove systemy"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
    >
      <FontAwesomeIcon icon={faVideo} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Elektrovyroba"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
    >
      <FontAwesomeIcon icon={faMicrochip} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Tepelna cerpadla"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
    >
      <FontAwesomeIcon icon={faFan} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Opravy zdvihacich plosin"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
    >
      <FontAwesomeIcon icon={faTruck} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Zabezpecovaci systemy"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
    >
      <FontAwesomeIcon icon={faShield} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Autoservis"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
    >
      <FontAwesomeIcon icon={faCar} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Doprava"
      description="Lorem ipsum dolor sit amet consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
    >
      <FontAwesomeIcon icon={faTruckFast} slot="icon" className={iconClass} />
    </Card>
  </div>
</Layout>

<style>
  .word-wider {
    word-spacing: 5px;
  }
</style>
