---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faBaby,
  faVideo,
  faTruck,
  faTruckFast,
  faMicrochip,
  faShield,
  faCar,
  faFan,
} from "@fortawesome/free-solid-svg-icons";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import SectionStripe from "../components/SectionStripe.astro";
import BigSection from "../components/BigSection.astro";
import HoverImage from "../components/HoverImage.astro";
import CenterSection from "../components/CenterSection.astro";

const bg = "blue";
const text = "blue";

const iconClass = "max-w-[40px] max-h-[40px]";
---

<Layout title="MONTEL" bg={bg} text={text}>
  <BigSection
    slot="header"
    color="blue"
    heading="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
  />
  <div
    class="w-screen m-auto px-10 -mt-16 flex gap-7 justify-around flex-wrap"
    id="offering"
  >
    <Card
      header="Babybox"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faBaby} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Kamerove systemy"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faVideo} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Elektrovyroba"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faMicrochip} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Tepelna cerpadla"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faFan} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Opravy zdvihacich plosin"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faTruck} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Zabezpecovaci systemy"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faShield} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Autoservis"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faCar} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Doprava"
      description="Lorem ipsum dolor sit amet consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faTruckFast} slot="icon" className={iconClass} />
    </Card>
  </div>

  <SectionStripe
    align="left"
    color="pink"
    heading="Babybox"
    image={{ src: "https://placehold.co/640x360", alt: "" }}
    className="mt-10 shadow-lg rounded-xl"
  >
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
    distinctio iste quia dolore. Animi magni nisi similique enim repellendus,
    excepturi provident ab explicabo quo, harum voluptatibus soluta voluptate
    nulla aperiam?
  </SectionStripe>

  <SectionStripe
    align="right"
    color="yellow"
    heading="Zabezpecovaci systemy"
    image={{ src: "https://placehold.co/640x360", alt: "" }}
    className="shadow-lg rounded-xl"
  >
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
    distinctio iste quia dolore. Animi magni nisi similique enim repellendus,
    excepturi provident ab explicabo quo, harum voluptatibus soluta voluptate
    nulla aperiam?
  </SectionStripe>

  <CenterSection heading="Projekty na kterych jsme pracovali" color="blue">
    <div class="flex justify-center flex-wrap gap-10 mt-16">
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
    </div>
  </CenterSection>
  <CenterSection heading="Kontakt" color="slate" />
</Layout>

<style>
  .word-wider {
    word-spacing: 5px;
  }
</style>
