---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faBaby,
  faVideo,
  faTruck,
  faTruckFast,
  faMicrochip,
  faShield,
  faCar,
  faFan,
} from "@fortawesome/free-solid-svg-icons";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Gradient from "../components/Gradient.astro";
import Image from "../components/Image.astro";

const bg = "blue";
const text = "blue";

const iconClass = "max-w-[40px] max-h-[40px]";
---

<Layout title="MONTEL" bg={bg} text={text}>
  <div slot="header" class="w-11/12 m-auto">
    <div class="flex">
      <div class="flex-grow">
        <p class="text-7xl font-black w-9/12 tracking-wider word-wider">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <Link href="#offering" bg={bg} className="mt-10 text-xl px-6 py-3">
          Co nabizime?
        </Link>
      </div>
      <Image
        src="https://placehold.co/1280x720"
        alt=""
        className="self-center"
      />
    </div>
  </div>
  <div
    class="w-screen m-auto -mt-16 flex gap-7 justify-around flex-wrap"
    id="offering"
  >
    <Card
      header="Babybox"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faBaby} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Kamerove systemy"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faVideo} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Elektrovyroba"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faMicrochip} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Tepelna cerpadla"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faFan} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Opravy zdvihacich plosin"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faTruck} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Zabezpecovaci systemy"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faShield} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Autoservis"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faCar} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Doprava"
      description="Lorem ipsum dolor sit amet consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      bg={text}
    >
      <FontAwesomeIcon icon={faTruckFast} slot="icon" className={iconClass} />
    </Card>
  </div>

  <div class="w-screen bg-pink-100 pb-7 mt-7">
    <div class="p-10 text-pink-900 flex gap-10">
      <div class="flex-grow">
        <h3 class="text-5xl font-bold mb-3">Babybox</h3>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          ullamcorper commodo lectus ac finibus. Morbi tristique quis purus sit
          amet tincidunt.
        </p>
        <Link bg="pink" href="/babybox">Vice</Link>
      </div>
      <Image src="https://placehold.co/320x180" alt="" />
    </div>
  </div>

  <div class="w-screen bg-yellow-100 pb-7">
    <div class="p-10 text-yellow-900 flex gap-10">
      <Image src="https://placehold.co/320x180" alt="" />
      <div class="flex-grow flex flex-col items-end">
        <h3 class="text-5xl text-right font-bold mb-3">
          Zabezpecovaci systemy
        </h3>
        <p class="mb-3 text-right">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
          ullamcorper commodo lectus ac finibus. Morbi tristique quis purus sit
          amet tincidunt.
        </p>
        <Link bg="yellow" href="/babybox" className="self-end">Vice</Link>
      </div>
    </div>
  </div>
</Layout>

<style>
  .word-wider {
    word-spacing: 5px;
  }
</style>
