---
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import {
  faBaby,
  faMicrochip,
  faShield,
  faCar,
  faFan,
  faTruckFast,
  faSun,
} from "@fortawesome/free-solid-svg-icons";
import Card from "../components/elements/Card.astro";
import Layout from "../layouts/Layout.astro";
import SectionStripe from "../components/sections/SectionStripe.astro";
import BigSection from "../components/sections/BigSection.astro";
import CenterSection from "../components/sections/CenterSection.astro";
import uvodImage from "../images/areal1.jpg";
import babyboxImage from "../images/bb.jpg";
import areal1Image from "../images/areal4.jpg"
import arealpanoImage from "../images/arealpano.jpg"
import tymImage from "../images/tym.jpg"
import Link from "../components/elements/Link.astro";
import ContactSection from "../components/sections/contact/ContactSection.astro";
import MyImage from "../components/elements/MyImage.astro";

const bg = "blue";
const text = "blue";

const iconClass = "max-w-[40px] max-h-[40px]";
---

<Layout title="Zdeněk Juřica - MONTEL" bg={bg} text={text} description="Kvalita, spolehlivost a odbornost v každé službě, kterou nabízíme. Od vašeho domova po vozový park." keywords="Zdeněk Juřica, MONTEL, Babybox, Alarm, Jablotron, Kamery, Kamerové systémy, Fotovoltaika, Solární panely, Tepelná čerpadla, Autoservis, Pneuservis, Opravy, Servis, Instalace, Výroba, Elektro, Auto">
  <BigSection
    slot="header"
    color="blue"
    heading="Kvalita, spolehlivost a odbornost v každé službě, kterou nabízíme. Od vašeho domova po vozový park."
    image={{ image: uvodImage, alt: "placeholder", width: "902", height: "676" }}
    links={[{ href: "#offering", text: "Co nabízíme?" }]}
  />
  <div
    class="w-screen m-auto px-10 -mt-16 flex gap-7 justify-around flex-wrap mb-20"
    id="offering"
  >
    <!--
    <Card
      header="Babybox"
      description="Babyboxy jsou klíčové v ochraně novorozenců v ČR. Po jejich umístění rychle upozorní na uložené děťátko, zajišťujíc tak jeho bezpečí. Po celé republice servisujeme a spravujeme řadu těchto zařízení a současně vyrábíme nové."
      color={text}
      iconColor="rose-600"
      links={[{ href: "/babybox", text: "Více" }]}
    >
      <FontAwesomeIcon icon={faBaby} slot="icon" className={iconClass} />
    </Card>
      -->
    <Card
      header="Tepelná čerpadla"
      description="Tepelná čerpadla představují ekologické a účinné řešení vytápění pro moderní domácnosti. Kromě výrazné úspory energie nabízejí flexibilní možnosti napojení a snadné ovládání. Investujte do kvality a komfortu s naším řešením a zajistěte svému domovu dlouhodobou hodnotu a spolehlivost."
      color={text}
      iconColor="red-600"
      links={[{ href: "/cerpadla", text: "Více" }]}
    >
      <FontAwesomeIcon icon={faFan} slot="icon" className={iconClass} />
    </Card>
    <!-- <Card
      header="Kamerove systemy"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia augue sit amet ex consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      color={text}
      iconColor="rose-600"
    >
      <FontAwesomeIcon icon={faVideo} slot="icon" className={iconClass} />
    </Card> -->
    <Card
      header="Fotovoltaika"
      description="Fotovoltaické elektrárny vám nabízí samostatnost a energetickou soběstačnost nejen v dobách krize a tržních výkyvů. S námi investujete do zelené budoucnosti, zajistíte si dlouhodobé úspory a minimalizujete energetické náklady. Zajistíme vám také vyřízení dotací. Zajistěte svému domovu ekonomickou stabilitu pro nadcházející roky."
      color={text}
      iconColor="red-600"
      links={[{ href: "/fotovoltaika", text: "Více" }]}
    >
      <FontAwesomeIcon icon={faSun} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Zabezpečovací systémy"
      description="S alarmem získáváte nejen klid v duši díky pokročilým systémům, ale také luxus moderní chytré domácnosti s plnou automatizací. Kamerový systém Vám umožní na Váš objekt dohlížet ať jste kdekoliv a to i zpětně. Nechte svůj domov chytře pracovat pro vás a vyzkoušejte naše revoluční řešení."
      color={text}
      iconColor="red-600"
      links={[
        { href: "/zabezpeceni", text: "Alarm" },
        { href: "/kamery", text: "Kamery" },
      ]}
    >
      <FontAwesomeIcon icon={faShield} slot="icon" className={iconClass} />
    </Card>
    <Card
      header="Autoservis"
      description="S více než 25-letou zkušeností v autoservisu přinášíme důkladnou péči o vaše vozidlo. Naše specializace v opravách a diagnostice zaručuje, že váš vůz bude vždy v nejlepším možném stavu. Našim cílem je nabídnout spolehlivost a kvalitu v údržbě a opravách osobních, užitkových a nákladních vozidel."
      color={text}
      iconColor="red-600"
      links={[{ href: "/autoservis", text: "Více" }]}
    >
      <FontAwesomeIcon icon={faCar} slot="icon" className={iconClass} />
    </Card>
    <!-- <Card
      header="Doprava"
      description="Lorem ipsum dolor sit amet consequat convallis a a diam. Donec scelerisque pulvinar erat a mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit pretium ante, vel fringilla arcu bibendum eget. Integer rhoncus massa sit amet velit cursus ultricies."
      color={text}
      links={[{ href: "/doprava", text: "Více" }]}
      iconColor="red-600"
    >
      <FontAwesomeIcon icon={faTruckFast} slot="icon" className={iconClass} />
    </Card> -->
  </div>

  <SectionStripe
    align="left"
    color="pink"
    heading="Babybox"
    spacing="lg"
    image={{ image: babyboxImage, alt: "", width: "902", className: "max-w-[300px] max-h-[200px]" }}
    className="mt-10 shadow-lg rounded-xl"
    innerClassName="lg:w-3/5 mx-auto"
  >
    <p>
      Babyboxy jsou klíčové v ochraně novorozenců v ČR. Využívají nejmodernější technologie pro zajištění komfortu pro dítě, matku i obsluhu. Zvláštní důraz je kladen na signalizaci, která je mnohonásobně jištěná a zajišťujě tak maximální bezpečnost. Po celé
      České Republice tak jako jediní vyrábíme a servisujeme tento Babybox nové generace. 
    </p>
    <Link
      link={{ href: "/babybox", text: "Více", className: "mt-3" }}
      bg="rose"
    />
  </SectionStripe>
  <!--<CenterSection heading="Projekty na kterych jsme pracovali" color="blue">
    <div class="flex justify-center flex-wrap gap-10 mt-16">
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
      <HoverImage
        src="https://placehold.co/640x360"
        alt=""
        className="md:w-1/4 sm:w-1/3 w-full flex-grow"
        bg="bg-blue-900"
        text="text-blue-50"
        heading="Test"
        href="/babybox"
      >
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus
        nobis tempore obcaecati nihil.
      </HoverImage>
    </div>
  </CenterSection> 
-->

  <CenterSection heading="O nás" color="white">
    <div class="lg:w-3/5 w-full mx-auto">
      <p>
        Jsme společností s bohatými, více než 30 letými zkušenostmi a rozmanitým profilem služeb, které pokrývají širokou škálu oblastí. Zabýváme se výrobou a servisem Babyboxů, kde klademe důraz na kvalitní a bezpečné provedení. Vedle toho vyrábíme a servisujeme tepelná čerpadla, která doplňujeme instalací fotovoltaických systémů a nabíjecích stanic pro elektromobily, abychom co nejvíce pomohli našim klientům snižovat energetické náklady. Naše zabezpečovací systémy, alarmy a kamerové systémy zajistí bezpečí vašich objektů a dodají jim prvky automatizace. Poskytujeme také širokou škálu služeb v oblasti autoservisu, pneuservisu, oprav zdvihacích plošin, alternátorů a starterů. Spolehlivě a efektivně provozujeme více jak 30 roků nakladní dopravu. Naše společnost usiluje být synonymem pro profesionální přístup, kvalitu a spokojenost našich zákazníků ve všech našich oblastech činnosti.
      </p>
      <div class="flex flex-row flex-wrap justify-center gap-10 mt-10">
        <MyImage
          image={{
            image: areal1Image,
            alt: "cerpadlo",
            width: "902",
            height: "auto",
          }}
          className="max-w-[400px] max-h-[300px]"
        />
        <MyImage
          image={{
            image: tymImage,
            alt: "cerpadlo",
            width: "902",
            height: "auto",
          }}
          className="max-w-[400px] max-h-[300px]"
        />
      </div>
    </div>
  </CenterSection>

  <div class={` bg-${bg}-100 text-${text}-900 py-20`}>
    <div class="w-11/12 mx-auto">
      <ContactSection color={bg} color2="yellow" noAddresses />
    </div>
  </div>
</Layout>

<style>
  .word-wider {
    word-spacing: 5px;
  }
</style>
