---
import Layout from "../layouts/Layout.astro";
import BigSection from "../components/sections/BigSection.astro";
import CenterSection from "../components/sections/CenterSection.astro";
import PillsSection from "../components/sections/PillsSection.astro";
import kameryImage from "../images/cerpadlo2.jpg";
import List from "../components/elements/List.astro";
import MiniCard from "../components/elements/MiniCard.astro";
import { colorWeighted } from "../utils/colors";
import {
  faCheckCircle,
  faClock,
  faCouch,
  faLock,
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import Email from "../components/elements/Email.astro";

const bg = "yellow";
const text = "stone";
---

<Layout title="MONTEL" bg={bg} text={text}>
  <BigSection
    slot="header"
    color={bg}
    text={text}
    heading="Zabezpečení či automatizace pro Váš domov či obchod? Nabízíme vše v jednom."
    image={{
      image: kameryImage,
      alt: "placeholder",
      className: "max-h-[500px] w-auto mx-auto",
    }}
    links={[{ href: "#offering", text: "Co nabízíme?" }]}
  />

  <CenterSection color="white" heading="Funkce">
    <div class="flex flex-wrap flex-row justify-center gap-10 lg:gap-28">
      <MiniCard
        title="Bezpečnostní řešení"
        size="lg"
        type="filled"
        color="amber-300"
        className="flex-1"
      >
        <List
          list={[
            "Vnitřní zabezpečení",
            "Venkovní zabezpečení",
            "Zabezpečení bazénu",
            "Zabezpečení garáže",
            "Zabezpečení balkonu/terasy",
            "Zabezpečení sklepů",
            "Detekce pohybu",
          ]}
          color={"slate-900"}
        />
      </MiniCard>
      <MiniCard
        title="Ochrana před živly"
        size="lg"
        type="ghost"
        color="amber-500"
        className="flex-1"
      >
        <List
          className="text-black"
          list={[
            "Požární zabezpečení",
            "Hlídaní vniknutí vody",
            "Detekce plynu",
            "Chytrá detekce kouře",
          ]}
          color={colorWeighted(bg, 900)}
        />
      </MiniCard>
      <MiniCard
        title="Chytrá domácnost"
        size="lg"
        type="ghost"
        color="amber-500"
        className="flex-1"
      >
        <List
          className="text-black"
          list={[
            "Ovládání rozsvěcení světel",
            "Ovládání zámků",
            "Zónová regulaci teploty",
            "Ovládání spotřebičů",
            "Zvonek u vchodu",
          ]}
          color={colorWeighted(bg, 900)}
        />
      </MiniCard>
      <MiniCard
        title="Energetika a měření"
        size="lg"
        type="ghost"
        color="amber-500"
        className="flex-1"
      >
        <List
          className="text-black"
          list={[
            "Měření odběru",
            "Měření výroby elektřiny",
            "Snímání teploty",
            "Nabíjení elektromobilů",
          ]}
          color={colorWeighted(bg, 900)}
        />
      </MiniCard>
    </div>
  </CenterSection>

  <CenterSection heading="Vhodné pro zabezpečení:" color="yellow">
    <PillsSection
      pills={[
        {
          title: "Domácnosti",
          color: "yellow-300",
        },
        {
          title: "Firmy",
          color: "yellow-300",
        },
        {
          title: "Obchodu",
          color: "yellow-300",
        },
        {
          title: "Objektu",
          color: "yellow-300",
        },
        {
          title: "Skladu",
          color: "yellow-300",
        },
        {
          title: "Zahrady",
          color: "yellow-300",
        },
        {
          title: "Hotelu",
          color: "yellow-300",
        },
        {
          title: "Výrobní haly",
          color: "yellow-300",
        },
      ]}
    />
  </CenterSection>

  <CenterSection heading="Integrace a Automatizace" color="white" text="slate">
    <p class="w-3/5 mx-auto">
      Alarm Jablotron nabízí širokou škálu integrací, která promění vaše
      prostředí v moderně zabezpečený a maximalizovaně využitelný prostor. Ať už
      se jedná o domácnost, obchod, firmu nebo školní instituci, Jablotron lze
      snadno integrovat s různými systémy a zařízeními. Od automatizace
      osvětlení, kontroly zámků, ovládání rolet, až po komplexní propojení s
      kamerovými systémy. Toto vše dělá z Jablotronu univerzální a flexibilní
      řešení pro každou potřebu zabezpečení.
    </p>
  </CenterSection>

  <CenterSection color={bg} heading="Co Vám Jablotron přinese">
    <div class="flex flex-wrap flex-row justify-center gap-10 lg:gap-28">
      <MiniCard
        title="Bezpečí"
        type="ghost"
        color="stone-900"
        className="flex-1"
      >
        <p>
          Periferie Jablotronu jsou vybaven pokročilými senzory, čímž vám
          zajišťuje maximální zabezpečení vašeho domova nebo firmy. Toto
          zařízení zaznamenává veškerý pohyb a činnost, takže můžete být vždy v
          klidu a vědět, že váš dům je v bezpečí.
        </p>
        <FontAwesomeIcon icon={faLock} slot="icon" className="text-amber-400" />
      </MiniCard>
      <MiniCard
        title="Pohodlí"
        type="ghost"
        color="stone-900"
        className="flex-1"
      >
        <p>
          S Jablotronem můžete jednoduše ovládat různé funkce domácnosti přes
          svůj mobilní telefon. Automatizace osvětlení, topení nebo rolet je
          nyní na dosah ruky, což vám umožňuje nastavit svůj domov přesně podle
          svých potřeb.
        </p>
        <FontAwesomeIcon
          icon={faCouch}
          slot="icon"
          className="text-amber-400 pt-3"
        />
      </MiniCard>
      <MiniCard
        title="Jistotu"
        type="ghost"
        color="stone-900"
        className="flex-1"
      >
        <p>
          Díky Jablotronu získáte jistotu, že se můžete spolehnout na stále
          sledování stavu svého objektu. Vzdálený přístup přes mobilní aplikaci
          vám umožňuje mít okamžitý přehled o tom, co se děje v domě, ať už jste
          kdekoli.
        </p>
        <FontAwesomeIcon
          icon={faCheckCircle}
          slot="icon"
          className="text-amber-400"
        />
      </MiniCard>
      <MiniCard
        title="Ušetří čas"
        type="ghost"
        color="stone-900"
        className="flex-1"
      >
        <p>
          Díky pokročilé automatizaci může Jablotron reagovat na různé události
          nebo spouštět naplánované akce na určitý čas. Místo toho, abyste
          manuálně ovládali různé domácí systémy, můžete nechat Jablotron, aby
          to udělal za vás.
        </p>
        <FontAwesomeIcon
          icon={faClock}
          slot="icon"
          className="text-amber-400"
        />
      </MiniCard>
    </div>
  </CenterSection>

  <CenterSection heading="Ozvěte se nám!" color="white">
    <div class="text-center">
      <p>Zarezervujte si bezplatnou konzultaci a nabídku:</p>
      <p>+420 561 035 488</p>
      <p>
        <Email email="recepce@jurica-montel.cz" color={text} />
      </p>
    </div>
  </CenterSection>
</Layout>
