---
import TheFooter from "../components/sections/TheFooter.astro";
import TheNav from "../components/sections/nav/TheNav.astro";
import type { ColorName } from "../types/colors.types";

export interface Props {
  title: string;
  bg: ColorName;
  text: ColorName;
}

const { title, bg, text } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <header
      class={`bg-${bg}-100 text-${text}-900 sm:min-h-screen w-screen flex flex-col pb-20`}
    >
      <TheNav bg={text} />
      <slot name="header" />
    </header>
    <main class="w-screen">
      <slot />
    </main>
    <TheFooter bg={bg} text={text} />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
  }
</style>
